<script type="text/javascript" src="{{ SETTINGS.MAIN_SITE_DOMAIN }}/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ SETTINGS.MAIN_SITE_DOMAIN }}/static/js/JSON.js"></script>
<script type="text/javascript" src="{{ SETTINGS.MAIN_SITE_DOMAIN }}/static/js/logger.js"></script>
<script type="text/javascript">
	$.games = {
		'new_play': function(){
			var logger, play_id;
			$.ajax({url:'{% url new_play game.name %}', async:false, dataType:'json',
	            success:function(x){
                     logger = new Logger('{% url log_action game.name %}', x.play_id);
                     play_id = x.play_id;
	            }});
           	return logger;
		},
		'set_score': function(score){
			$.ajax({url:'{% url set_score game.name %}', data:{'score':score}});
		},
		'username': "{% firstof user.username '~Anonimo' %}",
		'is_authenticated': {% if user.is_authenticated %}true{% else %}false{% endif %}
	}
	$(function(){
    if($.games.is_authenticated){
      $(".--hide-when-authenticated").remove();
    }else{
			$(".--hide-when-anonymous").remove();
		}
		$('.--click-to-logout').click(function(){
			document.location.href = '{{ logout_url }}';
		});
		$('.--click-to-login').click(function(){
      document.location.href = '{{ login_url }}';
    });
		$('span.--username').after($.games.username).remove()
	});
</script>