<script type="text/javascript" src="{{ SETTINGS.MAIN_SITE_DOMAIN }}/static/js/jquery-1.2.3.min.js"></script>
<script type="text/javascript" src="{{ SETTINGS.MAIN_SITE_DOMAIN }}/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ SETTINGS.MAIN_SITE_DOMAIN }}/static/js/JSON.js"></script>
<script type="text/javascript" src="{{ SETTINGS.MAIN_SITE_DOMAIN }}/static/js/logger.js"></script>
<script type="text/javascript">
	$.games = {
		'new_play': function(){
			var logger, play_id;
			$.ajax({url:'{% url new_play game.name %}', async:false, dataType:'json',
	            success:function(x){
                     logger = new Logger('{% url log_action game.name %}', x.play_id);
                     play_id = x.play_id;
	            }});
           	return logger;
		},
		'set_score': function(score){
			$.ajax({url:'{% url set_score game.name %}', data:{'score':score}});
		},
		'username': "{% firstof user.username '~Anonimo' %}",
		'is_authenticated': {% if user.is_authenticated %}true{% else %}false{% endif %},
		'gamefile_list': [{% for f in game_files %}'{{ f }}'{% if not forloop.last %},{% endif %}{% endfor %}],
		'get_highscores': function(){
			var ret;
			$.ajax({
			  type: "GET",
			  url: '{% url get_score game.name %}',
			  dataType: "json",
				async: false,
				error: function(err){
					alert("No highscore");
				},
				success: function(json){
					ret = json;
				}
			});
	    	return ret;
		},
		'get_gamefile' : function(gamefile_name){
			var ret;
			$.ajax({
			  type: "GET",
			  url: 'game_file/'+gamefile_name,
			  dataType: "json",
				async: false,
				error: function(err){
					alert("Game file invalido "+gamefile_name);
				},
				success: function(json){
					ret = json;
				}
			});
	    	return ret;
		}
	}
	
	
	$(function(){
		$("div.--content-login-header")
		  .append('<div class="--hide-when-authenticated">'+
              'Hola <span class="--username">Username</span> quer&eacute;s conectarte para guardar tus puntajes?'+
              '<a class="--click-to-login" href="#">hac&eacute; click ac&aacute;</a>'+
						  '</div>'+
					    '<div class="--hide-when-anonymous">'+
					    'Hola <span class="--username">Username</span>'+
					    '<a class="--click-to-logout" href="#">[salir]</a>'+
					    '</div>');
		
    if($.games.is_authenticated){
      $(".--hide-when-authenticated").remove();
    }else{
			$(".--hide-when-anonymous").remove();
		}
		$('.--click-to-logout').click(function(){
			document.location.href = '{{ logout_url }}';
		});
		$('.--click-to-login').click(function(){
      document.location.href = '{{ login_url }}';
    });
		$('span.--username').after($.games.username).remove()
	});
</script>
