{% extends "base.html" %}


{% block content %}
<div class= "ui-widget-content ui-corner-all central" >
<h1 class="ui-widget-header ui-state-active ui-corner-top">Algunos Datos.</h1>
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 id="quien" class="ui-widget-header ui-corner-top ui-state-default">¿Quiénes Somos?</h1>
	
	<p> Somos el Laboratorio de Neurociencia Integrativa (http://www.neurociencia.df.uba.ar), un grupo de investigación que busca entender un poquito cómo funciona la mente, cómo razonamos y cómo, cuándo y por qué tomamos decisiones. </p>
	</div>	
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 id="que" class="ui-widget-header ui-corner-top ui-state-default">¿Qué Hacemos?</h1>
	<p> Hacemos ciencia e investigación. Hacemos experimentos que nos permitan contestar algunas de las preguntas anteriores. A veces medimos directamente algunas cosas que suceden en el cerebro mientras pensamos; otras veces cómo se mueven los ojos al buscar cosas; y otras hacemos juegos de computadora, como los que están en esta página, para luego analizar cómo juega la gente y así intentar entender cómo piensa.  </p>
	</div>
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 id="puedo" class="ui-widget-header ui-corner-top ui-state-default">¿Puedo Contribuir?</h1>
	<p> ¡Por supuesto! Si tienes un cerebro y ganas de participar, eres más que bienvenid@. Ninguna de nuestras tareas es nociva para la salud y los métodos que usamos no son invasivos. La forma más fácil de ayudarnos es jugar en esta página, siempre con el mismo nombre de usuario. Si además quieres ver cómo funciona tu cerebro, te invitamos a participar de algún experimento que se esté haciendo en el laboratorio. ¡Escríbenos a XXX@XXX.XXXX y te esperamos!  </p>
	</div>
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 class="ui-widget-header ui-corner-top ui-state-default" id="como" >¿Cómo accedo a los datos?</h1>
	<p> Esperamos desarrollar una interfaz sencilla de acceso a los datos pronto. Por ahora podes escribir a mec (arroba) df (punto) uba (punto) ar y buscamos una forma de acceso provisoria. </p>
	</div>
</div>
{% endblock %}
