{% extends "base.html" %}


{% block content %}
<div class= "ui-widget-content ui-corner-all central" >
<h1 class="ui-widget-header ui-state-active ui-corner-top">Algunos Datos.</h1>
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 id="quien" class="ui-widget-header ui-corner-top ui-state-default">¿Quiénes Somos?</h1>
	
	<p> balalslalsld laskd laskd laksd l </p>
	</div>	
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 id="que" class="ui-widget-header ui-corner-top ui-state-default">¿Qué Hacemos?</h1>
	<p> balalslalsld laskd laskd laksd l </p>
	</div>
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 id="puedo" class="ui-widget-header ui-corner-top ui-state-default">¿Puedo Contribuir?</h1>
	<p> balalslalsld laskd laskd laksd l </p>
	</div>
	<div class= "ui-widget-content ui-corner-all game" style="position:relative;" >
	<h1 class="ui-widget-header ui-corner-top ui-state-default" id="como" >¿Cómo accedo a los datos?</h1>
	<p> balalslalsld laskd laskd laksd l </p>
	</div>
</div>
{% endblock %}