{% extends 'base.html' %}
{% block lateral %} {% endblock %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript">
		$(function() {
			$("#id_birthdate")
				.datepicker({changeYear:true,
							 showMonthAfterYear: true,
							 yearRange: '1930:2009' });
		});
	</script>
{% endblock %}

{% block content %}
<h2>Ingresa tus datos para registrarte</h2>
<div class="ui-state-highlight">Estos juegos son parte de un proyecto de investigaci&oacute;n avalado por CONICET. Nuestro objetivo final es el desarrollo de un software educativo de libre acceso. ¡Muchas gracias por participar, que te diviertas! </div>
<form class="alone" method="post" enctype="multipart/form-data" action="{% url register %}">
	{{ form.as_p }}
	<input class="submit" type="submit" name="Enviar" value="Enviar"/>
</form>
{% endblock %}
